<div class="container" >
  <div class="panel panel-primary">
    <div class="panel-heading">List of applications</div>
    <div class="panel-body">

      <div class="row">
        <div class="col-sm-4">Application Date</div>
        <div class="col-sm-4">Application Type </div>
        <div class="col-sm-4">Application Status</div>
      </div>


      <div class="row" *ngFor = "let appl of listOfApplications">
        <div class="col-sm-4">{{appl.created}}</div>
        <div class="col-sm-4">{{appl.dataValues[0].value}}</div>
        <div class="col-sm-4">{{appl.status}}</div>

      </div>


    </div>
  </div>

</div>

