<div class="container" >
  <div class="panel panel-primary">
    <div class="panel-heading">List of applications</div>
    <div class="panel-body">

      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">Application Date</div>
        <div class="col-sm-4">Application Type </div>
        <div class="col-sm-3">Application Status</div>
      </div>


      <div class="row" *ngFor = "let appl of datavalues; let i = index">
        <div class="col-sm-2">{{i+1}}</div>
      <!--  <div class="col-sm-3">{{appl.created}}</div>-->
        <div class="col-sm-4">{{appl.value}}</div>
        ></div>


    </div>
  </div>

</div>

