  <div class="container" >
  <div class="panel panel-primary">
    <div class="panel-heading">Profile</div>
    <div class="panel-body">
      <div class="panel panel-default">
              <div class="panel-body">
          <div>
            <form  class="form-horizontal" #profile = "ngForm"   (ngSubmit)= "OnButtonSubmit()"  >
              <div class="panel panel-default">
                <div class="panel-heading">PERSONAL INFORMATION</div>

              <label>Surname:</label> <input type="text" class="form-control"  name= "adkMaBHuDha" [(ngModel)] = "attrSurname.value"   id="surname" required="required"/>
               <!--
                <div [hidden]="surname.valid || surname.pristine"
                     class="alert alert-danger">
                  Surname is required
                </div>
                -->
              <label>First Name(s): </label> <input type="text" class="form-control" name = "JLIDUSiUQTl"  [(ngModel)] = "attrFirstname.value" id="firstname" required="required"/>
              <label>Maiden Name: </label> <input type="text" class="form-control" name ="lMjqbn6uwKs" ngModel id="maiden" [(ngModel)] = "attrMaidenname.value" />
              <label>Initials: </label> <input type="text" class="form-control"  name = "GQQtlqqDRmz" ngModel id="initials"  [(ngModel)] = "attrInitialsname.value" required="required" />
              <label>Profession:</label>
              <div   *ngIf="proffession"   class="form-group input-sm" >
                <select class="form-control" id="profession" name = "p0ci9AQcqcI" [(ngModel)] = "attrProffession.value" required="required">
                  <option value = "">Please select a profession</option>
                  <option *ngFor = "let proff of proffession"  [value] = "proff.name">{{proff.name}} </option>
                </select>
              </div>

              <label>Gender: </label>
              <div *ngIf="gender"  class="form-group input-sm"  >
                <select class="form-control" id="gender"  name = "hQNk6ODZnXM" [(ngModel)] = "attrGender.value" required="required">
                  <option value = "">Please select a gender</option>
                  <option *ngFor = "let gend of gender" [value] = "gend.name">{{gend.name}}  </option>
                </select>
              </div>

              <label>Title:</label> <div *ngIf="title" class="form-group input-sm" >
              <select class="form-control" id="title" name = "M7vAlF8LTUK" [(ngModel)] = "attrTitle.value">
                <option value = "">Please select a title</option>
                <option *ngFor = "let ttl of title"  [value] = "ttl.name">{{ttl.name}}  </option>
              </select>
            </div>

              <label>Date Of Birth: </label> <input type="date" class="form-control"  id="dob" name = "Cd2NLEe7pMi" [(ngModel)] = "attrDatOfBirth.value" required="required"/>
                <label>Marital status:</label>
                <div *ngIf="maritalstatus" class="form-group input-sm">
                  <select class="form-control" id="marital" name = "SKyaaiQyMQj" [(ngModel)] = "attrMaritaStatus.value"   >
                    <option value = "">Please select marital status</option>
                    <option *ngFor = "let marital of maritalstatus" [value] = "marital.name">{{marital.name}}</option>
                  </select>
                </div>

                <div *ngIf="attrMaritaStatus.value=='Married'">
                <label>Spouse Details (If Married):</label> <input type="text" class="form-control" name = "B22oDF7CWVF" [(ngModel)] = "attrSpouseDetails.value" />
                  </div>

              <label>Current Country of Residence: </label>

              <div *ngIf="countryOfOrigin" class="form-group input-sm" >
                <select class="form-control" id="countryid" name = "fVNyIxlIYuP" [(ngModel)] = "attrCurrentCountryOfResidence.value" required="required">
                  <option value = "">Please select a country</option>
                  <option *ngFor = "let country of countryOfOrigin" [value] = "country.name">  {{country.name}}  </option>
                </select>
              </div>

              <label>Current Residential Status (if residing in SA):</label>

              <div *ngIf="resedintialStatus" class="form-group input-sm" >
                <select class="form-control" id="resId" name = "XSZCrXMiCjo" [(ngModel)] = "attrCurrentResidentialStatus.value">
                  <option value = "">Please select residential status</option>
                  <option *ngFor = "let status of resedintialStatus" [value] = "status.name">{{status.name}}</option>
                </select>
              </div>

                <label>South African ID: </label> <input type="text" class="form-control" name = "yv4ipn1dKoT" [(ngModel)] = "attrSouthAfricanID.value" />

                <label>Passport Number: </label> <input   type="text" class="form-control"  name = "Uk8P0cvXKyD" [(ngModel)] = "attrPassportNumber.value"  />
                <label>Refugee ID: </label> <input type="text" class="form-control"  name = "SWtBa8bXcOi" [(ngModel)] = "attrRefugeeID.value" />


              </div>
              <div class="panel panel-default">
                <div class="panel-heading">CURRENT ADDRESS</div>
              <label>Street Address Line 1(e.g. Street Name):</label> <input type="text" class="form-control"  id="addr1" name = "uezzshW3BN6" [(ngModel)] = "attrStreetAddressLine1.value"/>
              <label>Street Address Line 2(e.g. Town Name):</label> <input type="text" class="form-control" id="addr2" name = "CWlbP1cTK7u" [(ngModel)] = "attrStreetAddressLine2.value"/>
              <label>Street Address Line 3(e.g. Country Name):</label> <input type="text" class="form-control" id="addr3" name = "rxFinyRVA9T" [(ngModel)] = "attrStreetAddressLine3.value"/>
              <label>Postal Code:</label> <input type="text" class="form-control" id="postalCode" name = "xDz6lSwCt7Y" [(ngModel)] = "attrStreetPostalCode.value"/>
                <label>Zip Code:</label> <input type="text" class="form-control" id="zipCode" name = "jbwHv5SYiME" [(ngModel)] = "attrStreetZipCode.value"/>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">HOME COUNTRY ADDRESS</div>
                <label>Street Address Line 1(e.g. Street Name):</label> <input type="text" class="form-control"  id="addr1Home" name = "qMGmfAObIs6" [(ngModel)] = "attrStreetAddressLine1Home.value"/>
                <label>Street Address Line 2(e.g. Town Name):</label> <input type="text" class="form-control" id="addr2Home" name = "gqixvHELgUO" [(ngModel)] = "attrStreetAddressLine2Home.value"/>
                <label>Street Address Line 3(e.g. Country Name):</label> <input type="text" class="form-control" id="addr3Home" name = "hTEwEq41nnj" [(ngModel)] = "attrStreetAddressLine3Home.value"/>
                <label>Postal Code:</label> <input type="text" class="form-control" id="postalCodeHome" name = "e2aboFrKVe5" [(ngModel)] = "attrStreetPostalCodeHome.value"/>
                <label>Zip Code:</label> <input type="text" class="form-control" id="zipCodeHome" name = "fIVeC4j6YD8" [(ngModel)] = "attrStreetZipCodeHome.value"/>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">CONTACT INFORMATION</div>
                <label>Cellphone Number: </label> <input type="text" class="form-control" id="cellNo" name = "CezOf26uGZ4" [(ngModel)] = "attrCellphoneNumber.value" required="required"/>
                <label>Work Telephone Number: </label> <input type="text" class="form-control" id="workTel" name = "ixHqdNQYfqF" [(ngModel)] = "attrWorkTelephoneNumber.value"/>
                <label>Home Telephone Number: </label> <input type="text" class="form-control" id="homeTel" name = "t2Blc1cnEwd" [(ngModel)] = "attrHomeTelephoneNumber.value"/>
              <label>E-mail address (primary): </label> <input type="email" class="form-control" id = "emailPrimary" name = "QicAcX9cLKQ" [(ngModel)] = "attrEmailAddressPrimary.value" required="required"/>
              <label>E-mail address (alternative): </label> <input type="email" class="form-control" id="emailAlternative" name = "FmeEL6WAOOi" [(ngModel)] = "attrEmailAddressAlternative.value"/>
              </div>

              <div>
              <label>Preffered Method Of Communication</label>
              <div *ngIf="prefferedComunnicationType" class="form-group input-sm" >
                <select class="form-control" id="commId" name = "U16h9pm5aL6" [(ngModel)] = "attrPrefferedMethodOfCommunication.value" >
                  <option value = "">Please select preffered channel</option>
                  <option *ngFor = "let commuType of prefferedComunnicationType" [value] = "commuType.name">{{commuType.name}}</option>
                </select>
              </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">EDUCATION AND WORK EXPERIENCE</div>

                  <div>
                    <label>Country where you obtained your basic qualification:</label>
                    <div *ngIf="countryOfOrigin" class="form-group input-sm" >
                      <select class="form-control" id="originid" name = "kOoVDeW9qrp" [(ngModel)] = "attrCountryWhereQualificationObtained.value">
                        <option value = "">Please select a country</option>
                        <option *ngFor = "let qualiCountry of countryOfOrigin"  [value] = "qualiCountry.name">  {{qualiCountry.name}}  </option>
                      </select>
                    </div>
                    <label>Type of Qualification:  </label>
                    <div *ngIf="typeOfQualification" class="form-group input-sm">
                      <select class="form-control" id="qualitypeid" name = "BQAchMg4aMq" [(ngModel)] = "attrQualificationType.value">
                        <option value = "">Please select a type of qualification</option>
                        <option *ngFor = "let qualitype of typeOfQualification" [value]="qualitype.name">  {{qualitype.name}}  </option>
                      </select>
                    </div>
                    <label>Are you registered as a specialist in any country? </label>
                    <div class="radio"  >
                      <label><input type="radio" name="AiEiUfSNGTU" id ="opCountry"  [(ngModel)] = "attrSpecializationYesNo.value"  value = "true">Yes</label>
                      <label ><input type="radio" name="AiEiUfSNGTU" id = "opCountry" [(ngModel)] = "attrSpecializationYesNo.value" value = "false">No</label>
                    </div>

                    <div  *ngIf= "attrSpecializationYesNo.value=='true'">
                    <label>If yes, state the name of country? </label>
                    <div *ngIf="countryOfOrigin" class="form-group input-sm">
                      <select class="form-control" id="countryQuaid" name = "OTkJvWxLVuD" [(ngModel)] = "attrCountrySpecialization.value">
                        <option value = "">Please select a country</option>
                        <option *ngFor = "let specialCountry of countryOfOrigin" [value]="specialCountry.name" >{{specialCountry.name}}</option>
                      </select>
                    </div>
                    </div>
                    <div>
                    <label>Are you registered with any professional body? </label>
                    <div class="radio">
                      <label><input type="radio" name="UtmTAD03WcJ" id = "profbody" [(ngModel)] = "attrProffBodyRegistrationYesNo.value" value = "true" >Yes</label>
                      <label><input type="radio" name="UtmTAD03WcJ" id = "profbody" [(ngModel)] = "attrProffBodyRegistrationYesNo.value" value = "false">No</label>
                    </div>

                      <div   *ngIf= "attrProffBodyRegistrationYesNo.value=='true'">
                      <label>If yes, state the name of the professional body </label>
                      <input type="text" class="form-control" id="profBodyName" name = "qYlxUNzBpdo" [(ngModel)] = "attrProffBodyRegistrationName.value"/>
                      </div>
                    </div>
                  </div>
                <!--
                  <label> Formal application letter </label>
                  <div>
                    <label class="btn btn-default btn-file">
                      Upload File <input type="file" style="display: none;">
                    </label>
                  </div>
                -->
                <div class="panel panel-default">
                  <div class="panel-heading">REQUIRED DOCUMENTS </div>

                  <label> Notarised copy of Passport / Identity Document / Refugee Status / Permanent Residence Certificate </label>
                  <div>
                    <input type="file" id = "passportfileId" data-max-size="2048" name = "Gcpk3BqfTfY"  (change)="onFileChange($event)" >
                  </div>


                  <label> Copy of Curriculum Vitae </label>
                  <div>
                    <input type="file"  id = "cvfileId" data-max-size="2048" name = "wKg02nSAnth" (change)="onFileChange($event)" >
                   <!--
                    <label class="btn btn-default btn-file">
                      Upload File<input type="file"  id = "cvfileId" data-max-size="2048"   ></label>
                    <font size = "1"><label style="font-weight:normal;"> Max. file size: 2MB</label></font>
                    -->
                  </div>
                  <label> Original Notarised Copy of Qualifications</label>
                  <div>
                    <input type="file"  id = "qualificationFileId" data-max-size="2048" name = "Gcpk3BqfTfY" (change)="onFileChange($event)">

                  </div>
                  <label> Original Notarised copy of Professional Registration</label>
                  <div>
                    <input type="file"  id = "profRegId" data-max-size="2048" name = "kL7nLPq9HmS" (change)="onFileChange($event)">

                  </div>
                  <label> Original Notarised copy of Reference Letters / Service Certificates of previous employers</label>
                  <div>
                    <input type="file"  id = "refenLetterFile" data-max-size="2048" name = "TeUV3frsYEc" (change)="onFileChange($event)">
                  </div>
                  <label> Original Notarised copy of spouse’s / life-partner’s identity document (not older than 30 days at time of submission)</label>
                  <div>
                    <input type="file" id = "lifePatnerFileId" data-max-size="2048" name = "QCGwC8WHzIV" (change)="onFileChange($event)">
                  </div>

                  <label> Original electronic marriage certificate / Notarised copy of life-partner agreement (not older than 30 days at time of submission)</label>
                  <div>
                    <input type="file"  class="form-control-file" id = "marriageCertificatefileId" data-max-size="2048" name = "ukQzrmcUQgu" (change)="onFileChange($event)">
                  </div>
                  <label> Original Notarised copy of residence permit, indicating “to reside with SA spouse / life-partner</label>
                  <div>
                    <input type="file" id="residencePermitfileId" data-max-size="2048" name = "QCGwC8WHzIV" (change)="onFileChange($event)">
                  </div>
                  <label> Police Affidavit signed by spouse / life-partner, clearly stating that you are cohabiting, that your spouse / life-partner supports your employment in south Africa and that he / she is willing to relocate with you wherever you are posted</label>
                  <div>
                    <input type="file" id = "affidavitFileId" data-max-size="2048" name = "OOCZMGkv1SF" (change)="onFileChange($event)">
                  </div>

                  <label> Original Notarised copy of spouse’s employment contract</label>
                  <div>
                    <input type="file"  id = "spouseContractFileId" data-max-size="2048" name = "BnAeQ9CfPqD" (change)="onFileChange($event)">
                  </div>
                  <label> Original Notarised copy of spouse’s work permit</label>
                  <div>
                    <input type="file" id = "spouseWorkPermitfileId" data-max-size="2048" name = "xJUWub6Na81" (change)="onFileChange($event)">
                  </div>
                  <label> Original Notarised copy of spouse’s latest salary slip</label>
                  <div>
                    <input type="file" id = "spousePayslipfileId" data-max-size="2048" name = "i63qGgDCqWK" (change)="onFileChange($event)">
                 </div>
                  <label> Original Letter from spouse’s employer confirming employment (not older than 30 days at time of submission</label>
                  <div>
                    <input type="file" id="spouseEmploymentId" data-max-size="2048" name = "pCuas8xccgp" (change)="onFileChange($event)">
                  </div>
                  </div>
                  <br/>
                  <input class="btn btn-primary"  type="submit" value="Save profile">
              </div>
            </form>
            <pre>{{profile.value | json}}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







