<div class="container" >
  <div class="panel panel-primary">
    <div class="panel-heading">Application</div>
    <div class="panel-body">
      <form #application="ngForm" (ngSubmit)= "SubmitApplication()">

        <div class="panel panel-default">
          <div class="panel-heading">Type Of Application</div>
      <label>What are you applying for?</label> <div class="form-group input-sm">
      <select class="form-control" id="applicationTypeId" name = "HBI7F3arBXR" [(ngModel)] = "applicationType.value"  (change) = "onApplicationSelection($event)" >
        <option value = "">Please select a type of application</option>
        <option *ngFor = "let apptype of apllication"  [value] = "apptype.name"> {{apptype.name}}</option>
      </select>
    </div>
          <label>Comment: </label> <input type="text" class="form-control" name = "JsgUaaZqhaq" [(ngModel)]="applicationNotes.value" id="comment">
          <div>
            <div *ngIf = "outstandingDocsCheck" class="panel panel-default">
              <div  class="panel-heading">Required Supporting Documents </div>
            </div>
            <div class="listview">
              <div class='items' *ngFor="let doc of docs">
                {{doc}}
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">REQUIRED DOCUMENTS </div>

              <div *ngIf="copyPassportRequired">
                <label> Notarised copy of Passport / Identity Document / Refugee Status / Permanent Residence Certificate </label>
                <input type="file" id = "passportfileId" data-max-size="2048" name = "Gcpk3BqfTfY"  (change)="onFileChange($event)" >
              </div>

              <div *ngIf="copycvbol">
                <label> Copy of Curriculum Vitae </label>
                <input type="file"  id = "cvfileId" data-max-size="2048" name = "wKg02nSAnth" (change)="onFileChange($event)" >
                <!--
                 <label class="btn btn-default btn-file">
                   Upload File<input type="file"  id = "cvfileId" data-max-size="2048"   ></label>
                 <font size = "1"><label style="font-weight:normal;"> Max. file size: 2MB</label></font>
                 -->
              </div>
              <div *ngIf="copyOfQualificationRequired">
                <label> Original Notarised Copy of Qualifications</label>
                <input type="file"  id = "qualificationFileId" data-max-size="2048" name = "Gcpk3BqfTfY" (change)="onFileChange($event)">

              </div>

              <div *ngIf="copyOfProffesionalRegistrationRequired">
                <label> Original Notarised copy of Professional Registration</label>
                <input type="file"  id = "profRegId" data-max-size="2048" name = "kL7nLPq9HmS" (change)="onFileChange($event)">
              </div>

              <div *ngIf="copyOfReferenceLetters">
                <label> Original Notarised copy of Reference Letters / Service Certificates of previous employers</label>
                <input type="file"  id = "refenLetterFile" data-max-size="2048" name = "TeUV3frsYEc" (change)="onFileChange($event)">
              </div>

              <div *ngIf="copySpouseIdRequired">
                <label> Original Notarised copy of spouse’s / life-partner’s identity document (not older than 30 days at time of submission)</label>
                <input type="file" id = "lifePatnerFileId" data-max-size="2048" name = "QCGwC8WHzIV" (change)="onFileChange($event)">
              </div>


              <div *ngIf="copyOfMarriageCertificate">
                <label> Original electronic marriage certificate / Notarised copy of life-partner agreement (not older than 30 days at time of submission)</label>
                <input type="file"  class="form-control-file" id = "marriageCertificatefileId" data-max-size="2048" name = "ukQzrmcUQgu" (change)="onFileChange($event)">
              </div>

              <div *ngIf="copyResidenceVISARequired">
                <label> Original Notarised copy of residence permit, indicating “to reside with SA spouse / life-partner</label>
                <input type="file" id="residencePermitfileId" data-max-size="2048" name = "QCGwC8WHzIV" (change)="onFileChange($event)">
              </div>

              <div *ngIf="copyPoliceAffidavit">
                <label> Police Affidavit signed by spouse / life-partner, clearly stating that you are cohabiting, that your spouse / life-partner supports your employment in south Africa and that he / she is willing to relocate with you wherever you are posted</label>
                <input type="file" id = "affidavitFileId" data-max-size="2048" name = "OOCZMGkv1SF" (change)="onFileChange($event)">
              </div>

               <div *ngIf="copySpouseEmploymentContract">
                 <label> Original Notarised copy of spouse’s employment contract</label>
                <input type="file"  id = "spouseContractFileId" data-max-size="2048" name = "BnAeQ9CfPqD" (change)="onFileChange($event)">
              </div>

              <div *ngIf="copySpouseVISA">
                <label> Original Notarised copy of spouse’s work permit</label>
                <input type="file" id = "spouseWorkPermitfileId" data-max-size="2048" name = "xJUWub6Na81" (change)="onFileChange($event)">
              </div>

              <div *ngIf="copySpouseLatestSalaryRequired">
                <label> Original Notarised copy of spouse’s latest salary slip</label>
                <input type="file" id = "spousePayslipfileId" data-max-size="2048" name = "i63qGgDCqWK" (change)="onFileChange($event)">
              </div>

              <div *ngIf="copySpouseEmploymentLetterRequired">
                <label> Original Letter from spouse’s employer confirming employment (not older than 30 days at time of submission</label>
                <input type="file" id="spouseEmploymentId" data-max-size="2048" name = "pCuas8xccgp" (change)="onFileChange($event)">
              </div>

              <!-- applications for a specific applications -->


              <div *ngIf="copymotivationletterfromtheuniversitybol">
                <label>Copy of motivation letter from the university</label>
                <input type="file" id="copymotivationletterfromtheuniversityId" data-max-size="2048" name = "R6ldZY1sOV3" (change)="onFileChange($event)">
              </div>

              <div *ngIf="copyOriginalcertifiedcopyCertifiedcopyofvalidresidencevisabol">
                <label>Copy of original certified copy certified copy of valid residence visa</label>
                <input type="file" id="copyOriginalcertifiedcopyCertifiedcopyofvalidresidencevisabolId" data-max-size="2048" name = "w0zt6ubwF8N" (change)="onFileChange($event)">
              </div>


              <div *ngIf="copyProofofcompletinginternshipSupervisedpracticebol">
                <label>Copy of proof of completing internship supervised practice</label>
                <input type="file" id="copyProofofcompletinginternshipSupervisedpracticebolId" data-max-size="2048" name = "xLlAxxdsqwT" (change)="onFileChange($event)">
              </div>

              <div *ngIf="copyRegistrationcertificatefromcouncilsHPCSASAPCbol">
                <label>Copy of registration certificate from councils (HPCSA, SAPC)</label>
                <input type="file" id="copyRegistrationcertificatefromcouncilsHPCSASAPCbolId" data-max-size="2048" name = "pCuas8xccgp" (change)="onFileChange($event)">
              </div>

              <div *ngIf="copyProofofbeingsuccessfulinexamsHPCSASANCSAPCbol">
                <label>Copy proof of being successful in exams (HPCSA/SANC/SAPC)</label>
                <input type="file" id="copyProofofbeingsuccessfulinexamsHPCSASANCSAPCbolId" data-max-size="2048" name = "kmf3TzMlMZK" (change)="onFileChange($event)">
              </div>

              <div *ngIf="copyProoofcompletingcommunityservicebol">
                <label>Copy of proof completing community service</label>
                <input type="file" id="copyProoofcompletingcommunityservicebolId" data-max-size="2048" name = "NI3zNAv7oVr" (change)="onFileChange($event)">
              </div>
                       <div *ngIf="copyOfficialcopyofstampedjoboffersignedbol">
                <label>Copy of stamped motivation letter from the university/institution</label>
                <input type="file" id="copyOfficialcopyofstampedjoboffersignedbolId" data-max-size="2048" name = "zCLxCuJHHxL" (change)="onFileChange($event)">
              </div>

              <div *ngIf="copyLatestpayslipbol">
                <label>Copy of latest salary slips</label>
                <input type="file" id="copyLatestpayslipbolId" data-max-size="2048" name = "aRnbPS0Du8Y" (change)="onFileChange($event)">
              </div>
                       <div *ngIf="copyRegistrationcertificatebol">
                <label>Copy of registration certificate </label>
                <input type="file" id="copyRegistrationcertificatebolId" data-max-size="2048" name = "rCCSOXloArD" (change)="onFileChange($event)">
              </div>
                     <div *ngIf="copyReleaseletterfromcurrentemployerbol">
                <label> Copy of release letter from current employer</label>
                <input type="file" id="copyReleaseletterfromcurrentemployerbolId" data-max-size="2048" name = "NEY582qdrxK" (change)="onFileChange($event)">
              </div>
              <div *ngIf="copyPermanentjobofferbol">
                <label>Copy proof of permanent job offer </label>
                <input type="file" id="copyPermanentjobofferbolId" data-max-size="2048" name = "sU2xEu2Dy0I" (change)="onFileChange($event)">
              </div>
              <div *ngIf="copyOfficialsupportletterfromUniversitybol">
                <label>Copy of official support letter from university and employing hospital</label>
                <input type="file" id="copyOfficialsupportletterfromUniversitybolId" data-max-size="2048" name = "tSzfWCBihTz" (change)="onFileChange($event)">
              </div>
              <div *ngIf="copyMotivationletterfromemployerbol">
                <label>Copy of motivation letter from employer (applies to refugees only)</label>
                <input type="file" id="copyMotivationletterfromemployerbolId" data-max-size="2048" name = "VzRj3tzW71n" (change)="onFileChange($event)">
              </div>

              <div *ngIf="copyLetterfromthecurrentuniversitybol">
                <label>Copy of letter from the current university </label>
                <input type="file" id="copyLetterfromthecurrentuniversitybolId" data-max-size="2048" name = "tSzfWCBihTz" (change)="onFileChange($event)">
              </div>

              <div *ngIf="copyAcceptanceletterfromSAuniversitybol">
                <label>Copy acceptance letter from SA university</label>
                <input type="file" id="copyAcceptanceletterfromSAuniversitybolId" data-max-size="2048" name = "NyX0mHwvMdk" (change)="onFileChange($event)">
              </div>

              <div *ngIf="copycurriculumvitaebol">
                <label>Copy curriculum vitae (original document)</label>
                <input type="file" id="copycurriculumvitaebolId" data-max-size="2048" name = "ovJ4w1VCFpr" (change)="onFileChange($event)">
              </div>

              <div *ngIf="copyoriginalcertifiedreferencelettersbol">
                <label>Copy of original certified reference letters</label>
                <input type="file" id="copyoriginalcertifiedreferencelettersbolId" data-max-size="2048" name = "JJLfQhSEMq2" (change)="onFileChange($event)">
              </div>
                        <div *ngIf="copyLetterfromtheUniversitybol">
                <label> Copy of letter from the university</label>
                <input type="file" id="copyLetterfromtheUniversitybolId" data-max-size="2048" name = "tSzfWCBihTz" (change)="onFileChange($event)">
              </div>

              <div *ngIf="copyLetterfromthehospitalbol">
              <label>Copy of letter from the hospital</label>
              <input type="file" id="copyLetterfromthehospitalbolId" data-max-size="2048" name = "zCLxCuJHHxL" (change)="onFileChange($event)">
            </div>

              <div *ngIf="copyJ1Visaformsbol">
                <label>Copy J1 Visa forms</label>
                <input type="file" id="copyJ1VisaformsbolId" data-max-size="2048" name = "Iht8DmUXSji" (change)="onFileChange($event)">
              </div>

              <div *ngIf="copyStudentundertakingbol">
                <label>Copy of student undertaking</label>
                <input type="file" id="copyStudentundertakingbolId" data-max-size="2048" name = "LYQvw6ynmmQ" (change)="onFileChange($event)">
              </div>

            </div>
          </div>

          <input class="btn btn-primary"  type="submit" value="Apply">
          </div>




        </form>
    </div>
</div>
  </div>
